body{
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titulo{
    color: mintcream;
    font-size: 60px;
    width: 65%;
}
.contenido{
    margin : 5px;
    padding: 25px;
}
.enlacesint{
    background-color: rgb(255, 215, 86);
    width: 25%;
    margin-top: 15px;
    padding-left: 15px;
    float: left;
    font-size: 20px;
    color: black;
}
.resumen{
    text-align: justify;
    float: right;
    width: 65%;
    margin: 15px;
    font-family: sans-serif;

}
.tituloresumen{
    text-align: center;
}
.pie{
    color: orangered;
    font-size: 15px;
    clear:both;
    border-top: solid 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; 
    text-align: center;
}
.imagelogo{
    float: right;
}
.enlacesext{
    text-align:center;
    font-size: 27px;
    margin: 25px;
}
.enlacesext2{
    padding: 6px;
    margin: 25px;
    background-color: khaki;
    font-family: 'Times New Roman', Times, serif;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}